*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    height: 70vh;
    
}

main{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form{}



@media screen and (max-width: 768px) {

    .como-funciona-a-pesquisa{

        display: none;

    }
    
}

